:root{
    --orange-low: #EB6440;
    --white-high: #fff;
    --white-low: #d9d9d9;
    --back: #000;
}

*{
    font: bold;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: var(--white-high);
}

.navbar{
    background-color: var(--orange-low);
    display: flex;
    margin-bottom: 80px;
    height: 80px;
}

.footer{
    display: flex;
    background-color: var(--orange-low);
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.logo{
    transform: rotate(0.5turn);
    width: 73px;
    margin-left: 120px;
}

.container-gato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-gato{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.cat {
    width: 100%;
    height: 100%;
}

